@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}

.herosection {
  background-image: url("/images/hero.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.calltoaction {
  background-image: url("/images/cta.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  position: relative;
}

.calltoaction::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(1, 102, 53, 0) 0%, #016635 100%),
    url("/images/cta.png") lightgray 50% / cover no-repeat;
}

.herosection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay */
  opacity: 0.9; /* Image transparency */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}
